.factContainer {
    width: 70rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #f0f0f0;
    grid-row: 1;
    grid-column: 1;
  }

  .factContainer:hover {
    cursor: grab;
  }

  .factContainer:active {
    cursor: grabbing;
  }
  
  .factGrid {
    display: grid;
    place-items: center;
    width: 100%;
  }