.homeContainer {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

  

.textContainer {
    position: absolute;
    z-index: 1; /* Ensures text is above the image */
    text-align: center;
    color: white;
    padding: 20px;
    top: 22%; /* Moves the text container higher */
}

.textContainer h1 {
    font-size: 80px; /* Increased font size for the website name */
    font-weight: bold; /* Bold for emphasis */
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.quote {

    margin: 10px 0;
    font-size: 1.2em;
}

.startButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #054569;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.startButton:hover {
    background-color: #9ccddc;
}