
.factContainer {
    width: 30rem; /* Adjusted width */
    height: 20rem; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem; /* Increased font size */
    padding: 1rem;
    background-color: #054569; /* Lighter blue for subheading */
    grid-row: 1;
    grid-column: 1;
    color: #c9c9c9; /* Darkened font color for better contrast */
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  }
  
  .factContainer:hover {
    cursor: grab;
  }
  
  .factContainer:active {
    cursor: grabbing;
  }
  
  .factGrid {
    padding-top: 3rem;
    padding-bottom: 12rem;
    display: grid;
    place-items: center;
    width: 100%;
  }
  
  .holder {
    font-size: 1.5rem;
    display: flex;
    padding-top: 7rem;
    justify-content: space-between;
  }
  